footer {
	background: #f2f2f2;
   
     bottom: 0;
     left:0;

}

footer h4 {
	color: rgba(0,0,0, 0.54);
	font-size: 15px;
	line-height: 30px;
	font-weight: 400;
	padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
	border: 1px solid #eee;
}
footer a {
	color: #5f6368;
	text-decoration: none;
	display: inline-block;
	padding: 40px 10px;
	font-size: 14px;
}
footer a:hover {
	text-decoration: underline;
}
.links {
	border-top: 1px solid #ddd;
	display: flex;
    padding-top: 5px;
}
.link-1 {
	padding-left: 18.7px;
	flex: 1;
}
.link-2 {
	padding-right: 18.7px;
}